@import url("https://fonts.googleapis.com/css2?family=family=Amatic+SC&display=swap");
 :root {
 --primary-color: #1B98E0;
 --secondary-color: #59c3c3;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica, sans-serif;
 --secondary-font: "Amatic SC", sans-serif;
 }

 .banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }

 .banner > img {
    width: 100px;
 }

 .banner > h1 {
    font-size: 100px;
    font-family: var(--secondary-font)
 }

 .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .sweet-potato-waffle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 50px;
    padding: 25px;
 }

 .sweet-potato-waffle > img {
    width: 450px;
    margin: 100px;
 }

 .sweet-potato-waffle-blurb > h3 {
    font-size: 50px;
    font-family: var(--secondary-font);
    color: var(--primary-color);
 }

 .sweet-potato-waffle-blurb > p {
    font-size: 25px;
    font-family: var(--primary-font);
 }

 .social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
 }

 .flaticon {
    margin-right: 1555px;
 }

 .social-links {
    display: flex;
 }

 .social-links > a {
    width: 100px;
    margin-right: 50px;
 }

 @media screen and (min-width: 600px) {
   .sweet-potato-waffle {
       flex-direction: row; /* Switch from column to row */
   }

   .banner {
       flex-direction: row;
   }

   .search-form {
       flex-direction: row;
   }
}

@media screen and (min-width: 960px) {
   body {
       max-width: 960px;
       margin: 0 auto; /* Center the page */
   }
}