:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica,sans-serif;
    --secondary-font: Mooli, san-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
}

header h1 {
    font-family: var(--secondary-font);
    text-align: center;
    padding: 1rem;
    color: white;
}

header h2 {
    font-family: var(--primary-font);
    font-weight: 100;
    color: white;
    text-align: center;
}

.navigation {
    font-family: var(--primary-font);
    font-weight: 100;
    color: white;
    text-decoration: underline;
    text-align: center;
    padding: 1rem;
}

main h2 {
    font-family: var(--secondary-font);
    text-align: center;
    padding: 1rem;
}

.gallery img {
    display: flex;
    align-items: center;
    width: 200px;
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    /* margin-left: 1055px; */
}

@media screen and (min-width: 700px) {
    .gallery {
      grid-template-columns: 1fr 1fr;
    }
  }