:root {
    --primary-color: #37FF8B;
    --secondary-color: #51D6FF;
    --tertiary-color: #522B29;
    --primary-font: "Henny Penny", serif;
    --secondary-font: "Risque", serif;
}

.title {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
    background-color: var(--tertiary-color);
}

.title h1 {
    font-family: var(--primary-font);
    color: var(--primary-color);
    text-align: center;
}

.title h2 {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

nav {
    display: grid;
    justify-content: end;
    background-color: var(--secondary-color);
    padding: 10px;
}

.navigation {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
    list-style: none;
    padding: 5px;
    margin-right: 50px;
}

.navigation li {
    text-align: center;
}

.navigation a {
    text-decoration: none;
    font-family: var(--secondary-font);
    color: var(--tertiary-color);
    font-size: 1.5rem;
}

.articles-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* Three distinct sections */
    gap: 20px;
    padding: 20px;
    align-items: start;
}

.article-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1rem;
    font-family: var(--secondary-font);
    padding: 15px;
}

.article-content {
    text-align: center;
    padding: 15px;
}

.article-content h2 {
    font-family: var(--primary-font);
}

.article-content img {
    width: 100%;
    height: auto;
    max-width: 200px;
}

.filters {
    padding: 15px;
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 1.2rem;
}